@import "bourbon"
@import "vars.sass"


*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

//Custom Styles Here
body
	padding: 0
	margin: 0
	font-family: sans-serif
canvas#mainCanvas


input#output_k,
input#output_x,
input#output_y
	width: 50px
	margin-left: 20px
#config
	width: 550px
	padding: 20px
	position: absolute
	top: 200px
	left: 820px
#logs
	position: absolute
	top: 0
	left: 820px
.coords
	background-color: #666
	color: #fff
	padding: 3px
	border-radius: 2px







//ALWAYS END
@import "media"
